<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="mylogger" class="com.tramp.spring.implementations.LoggerImpl"></bean>
	<bean id="usersrepository" class="com.tramp.spring.implementations.UsersRepositoryImpl">
		<property name="logger" ref="mylogger"></property>
	</bean>
	
	
</beans>
